#carousel-example-generic(class='carousel slide', data-ride='carousel')
  ol.carousel-indicators
    - for (var i = 0; i < client.photos.length; i ++){
      li(data-target='#carousel-example-generic', data-slide-to=i)
    - }
  .carousel-inner
    each photo, index in client.photos || []
      div(class=index === 0 ? 'item active' : 'item', style='height: 50px, width: 75px')
        .photo-client(style='background-image: url("#{photo}")')
  a(class='left carousel-control', href='#carousel-example-generic', role='button', data-slide='prev')
    span(class='glyphicon glyphicon-chevron-left')
  a(class='right carousel-control', href='#carousel-example-generic', role='button', data-slide='next')
      span(class='glyphicon glyphicon-chevron-right')
