extends ../shared/template
block content
  .row
    .col-xs-2
    .col-xs-4.basic-info
      .profile-img(style='background-image:url("#{user.profilePic}");')
      .name= user.username
    .col-xs-4.bio
      h3 Bio:
      p Collection weekend sandwich grey gag hammer tank dead michelle vegan.
        Steve jobs facepalm pizza crying russia father cookie monster
      if(isPublic)
        p Your profile is set to Public.
      else
        p Your profile is set to Private.
      .panel-default.panel
        .panel-heading You are currently stalking
        ul.list-group
          each prey in stalked
            li.list-group-item: a(href='/users/#{prey._id}')= prey.username
    .col-xs-4
  .row
    .col-xs-2
    .col-xs-8.file
      .tabs.nav.nav-tabs
        a.tab.active(href='javascript:void(0)') Inbox
        a.tab(href='javascript:void(0)') Send Message
        a.tab(href='javascript:void(0)') Gallery
        a.tab(href='javascript:void(0)') Edit Profile
      .panes
        .pane.active
          include inbox
        .pane
          include message
        .pane
          include gallery
        .pane
          include edit
    .col-xs-2



block scripts
  script(src='/js/user/profile.js')
