extends ../shared/template
block content
  .section.content-section.video-section
    #bgvid(autoplay='autoplay', loop='loop', muted='muted', src='/video/bgClip2L.mp4', type='video/mp4')
    #img(style= 'background-image:url(/img/home-bg);')
          .container
            .row
              .col-lg-12
                .row
                  .col-xs-6
                    h2.text-center Register
                  .col-xs-6
                    h2.text-center Login
                .row
                  .col-xs-1
                  .col-xs-4
                    form(role='form', method='post', action='/register')
                      .form-group
                        label(for='email') Email
                        input.form-control#email(type='email', name='email', autofocus=true)
                      .form-group
                        label(for='password') Password
                        input.form-control#password(type='password', name='password')
                      button.btn.btn-primary(type='submit') Submit
                  .col-xs-1
                  .col-xs-1
                  .col-xs-4
                    form(role='form', method='post', action='/login')
                      .form-group
                        label(for='email') Email
                        input.form-control#email(type='email', name='email', autofocus=true)
                      .form-group
                        label(for='password') Password
                        input.form-control#password(type='password', name='password')
                      button.btn.btn-success(type='submit') Submit


 block scripts
 script(src='/js/user/home.js')

