extends ../shared/template
block content
  h2.text-center Bribes
  .col-xs-2
  .col-xs-8
    table.table.table-hover
      thead
        tr
          th Product
          th Image
          th Price
      tbody
        each gift in gifts
          tr
            td
              form.add-cart-btn(method='post', action='/cart')
                input(type='hidden', name='giftId', value=gift._id)
                button.btn.btn-success(type='submit')=gift.name
            td: img.product-img(src=gift.photo)
            td.price $#{gift.price.toFixed(2)}
  .col-xs-2


block scripts
  script(src='/js/user/index.js')
